h1{
    font-family: "Hoefler Text", "Bitstream Charter", Georgia, serif;
    font-size: 50px;
    color: #003366;
    text-align: center
}
table{
    border-collapse: collapse
}
th, td{
    padding: 15px;
    text-align: center
}
th, td{
    border-bottom: 1px solid #ffffff
}
tr:hover{background-color: #CCCC99}
body{ 
    background-image: url(images/watercolor.jpg);
}
body{
    font-style: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bolder;
    color: #003366;
    letter-spacing: 2px;
}    
p.center{
    text-align: center;
}
h1.double{
    border-style: double;
}
h2{
    font-family: "Hoefler Text", "Bitstream Charter", Georgia, serif;
    text-align: center;
    color: #5E5F61;
}
ul.nav {
    border-style: border-bottom;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li.nav {
    float: left;
}

li a {
    display: block;
    padding: 8px;
    font-family: 
    font-weight: bold;
}
a:link{
    color: #5E5F61;
}
a:visited{
    color: #5E5F61;
}